textarea#paste {
  height: 500px;
  font-family: monospace;
}

#_hp {
  display: none;
}

pre {
  background-color: #fff;
  border: none;
}

div#login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

pre, pre code {
  font-family: "Source Code Pro", monospace;
}
