{{>messages}}
<form action="/user/forgot_password" method="post">
  <div class="group inline">
    <label for="email">Email</label>
    <input type="text" name="email" />
  </div>

  <div class="group">
    <button type="submit" class="button-main">Reset Password</button>
  </div>
</form>
