<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ctrl-v</title>
  <link rel="shortcut icon" href="/favicon.png" />
  <link type="text/css" rel="stylesheet" href="/css/normalize.css" />
  <link type="text/css" rel="stylesheet" href="/css/style.css" />
  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans" />
  <link type="text/css" rel="stylesheet" href="/css/themes/tomorrow.css" class="theme" />
  <script src="/js/zepto.min.js"></script>
  <script src="/js/zepto.cookie.min.js"></script>
  <script src="/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
<div id="top-bar">
  <div id="logo">
    <a href="/">ctrl-v</a>
  </div>
  <ul id="navigation">
      <li><a href="/new">New</a></li>
      <li><a href="/latest">Latest</a></li>
      {{^signed_in?}}
      <li><a href="/login">Sign In</a></li>
      {{/signed_in?}}
      {{#signed_in?}}
      <li><a href="/logout">Sign Out</a></li>
      {{/signed_in?}}
  </ul>
</div>
<div id="content">
{{{yield}}}
</div>
</body>
</html>
