{{>messages}}
<form action="/login" method="post">
  <div class="group inline">
    <label for="username">Username</label>
    <input type="text" name="username" />
  </div>

  <div class="group inline">
    <label for="password">Password</label>
    <input type="password" name="password" />
  </div>

  <div class="group inline">
    <button type="submit" class="button-main">Sign In</button>
  </div>
</form>