{{#paste}}
<div>
  <div class="btn-group pull-right">
    <a class="btn btn-default" role="button" href="/p/{{id_b62}}?raw">Raw</a>
    <a class="btn btn-default" role="button" href="/p/{{id_b62}}?download">Download</a>
    <a class="btn btn-default" role="button" href="/p/{{id_b62}}?clone">Clone</a>
    {{#delete?}}
    <a class="btn btn-danger" role="button" href="/p/{{id_b62}}?delete">Delete</a>
    {{/delete?}}
  </div>
</div>
<div class="paste">
  {{#highlighted?}}
  <pre><code>{{content}}</code></pre>
  {{/highlighted?}}
  {{^highlighted?}}
  <pre>{{content}}</pre>
  {{/highlighted?}}
</div>
{{/paste}}
