{{#paste}}
<div>
  <ul id="pasteOptions">
    <li><a class="smooth-button" href="/p/{{id_b62}}?raw">Raw</a></li>
    <li><a class="smooth-button" href="/p/{{id_b62}}?download">Download</a></li>
    <li><a class="smooth-button" href="/p/{{id_b62}}?clone">Clone</a></li>
    {{#owner?}}
    <li><a class="smooth-button" href="/p/{{id_b62}}?delete">Delete</a></li>
    {{/owner?}}
  </ul>
</div>
<div class="clear"></div>
<div class="paste">
  {{#highlighted?}}
  <pre><code>{{content}}</code></pre>
  {{/highlighted?}}
  {{^highlighted?}}
  <pre>{{content}}</pre>
  {{/highlighted?}}
</div>
{{/paste}}
